<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Todo!</title>
    </head>
    <body>
        <form method="post">
            <label for="title">Activity title:</label>
            <br />
            <input type="text" id="title" name="title">
            <br />
            <br />
            <label for="description">Activity description:</label>
            <br />
            <input type="text" id="description" name="description">
            <br />
            <br />
            <label for="time">Activity time:</label>
            <br />
            <input type="text" id="time" name="time">
            <br />
            <br />
            <label for="location">Activity Location:</label>
            <br />
            <input type="text" id="location" name="location">
            <br />
            <br />
            <label for="number">Number of people:</label>
            <br />
            <input type="text" id="number" name="number">
            <br />
            <br />
            <input type="submit" value="Create">
        </form>
    </body>
</html>